<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/utils.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/blogpost.css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" />
    <link rel="stylesheet" href="stylesheets/auth.css" />
    <link rel="stylesheet" href="stylesheets/profile.css" />
    <link rel="stylesheet" href="stylesheets/blog.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title>MyBlogs - Heaven for bloggers</title>
  </head>
  <body></body>
</html>
