<%- include('./partials/footer.ejs') %> <%- include('./partials/navbar.ejs') %>

<div class="max-width-1 m-auto"><hr /></div>
<div class="home-articles max-width-1 m-auto font2">
  <h2>Search Results for Django (0.03 seconds)</h2>
  <div class="year-box adjust-year">
    <div>
      <h3>Year</h3>
    </div>
    <div><input type="radio" name="year" id="" /> 2020</div>
    <div><input type="radio" name="year" id="" /> 2021</div>
  </div>
  <div class="home-article">
    <div class="home-article-img">
      <img src="images/11.svg" alt="article" />
    </div>
    <div class="home-article-content font1">
      <a href="/blogpost"
        ><h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3></a
      >

      <span>Author Name</span>
      <span>07 January | 6 min read</span>
    </div>
  </div>
  <div class="home-article">
    <div class="home-article-img">
      <img src="images/11.svg" alt="article" />
    </div>
    <div class="home-article-content font1">
      <a href="/blogpost"
        ><h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3></a
      >

      <span>Author Name</span>
      <span>07 January | 6 min read</span>
    </div>
  </div>
  <div class="home-article">
    <div class="home-article-img">
      <img src="images/11.svg" alt="article" />
    </div>
    <div class="home-article-content font1">
      <a href="/blogpost"
        ><h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3></a
      >

      <span>Author Name</span>
      <span>07 January | 6 min read</span>
    </div>
  </div>
  <div class="home-article">
    <div class="home-article-img">
      <img src="images/home.svg" alt="article" />
    </div>
    <div class="home-article-content font1">
      <a href="/blogpost"
        ><h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3></a
      >

      <span>Author Name</span>
      <span>07 January | 6 min read</span>
    </div>
  </div>
  <div class="home-article">
    <div class="home-article-img">
      <img src="images/11.svg" alt="article" />
    </div>
    <div class="home-article-content font1">
      <a href="/blogpost"
        ><h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3></a
      >

      <span>Author Name</span>
      <span>07 January | 6 min read</span>
    </div>
  </div>
  <div class="home-article">
    <div class="home-article-img">
      <img src="images/11.svg" alt="article" />
    </div>
    <div class="home-article-content font1">
      <a href="/blogpost"
        ><h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3></a
      >

      <span>Author Name</span>
      <span>07 January | 6 min read</span>
    </div>
  </div>
  <div class="home-article">
    <div class="home-article-img">
      <img src="images/11.svg" alt="article" />
    </div>
    <div class="home-article-content font1">
      <a href="/blogpost"
        ><h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3></a
      >

      <span>Author Name</span>
      <span>07 January | 6 min read</span>
    </div>
  </div>
  <div class="home-article">
    <div class="home-article-img">
      <img src="images/11.svg" alt="article" />
    </div>
    <div class="home-article-content font1">
      <a href="/blogpost"
        ><h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3></a
      >

      <span>Author Name</span>
      <span>07 January | 6 min read</span>
    </div>
  </div>
</div>

<%- include('./partials/footer.ejs') %>
